<a href="https://colab.research.google.com/github/ambroz72/Visualisation-Storytelling/blob/main/Sales_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('Superstore.xls')

In [4]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [5]:
data.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,NaN,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,0.0,72.9480
9994,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2,NaN,72.9480

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9995 entries, 0 to 9994
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9995 non-null   int64
 1   Order ID       9995 non-null   object
 2   Order Date     9995 non-null   datetime64[ns]
 3   Ship Date      9995 non-null   datetime64[ns]
 4   Ship Mode      9995 non-null   object
 5   Customer ID    9995 non-null   object
 6   Customer Name  9995 non-null   object
 7   Segment        9995 non-null   object
 8   Country        9995 non-null   object
 9   City           9995 non-null   object
 10  State          9995 non-null   object
 11  Postal Code    9995 non-null   int64
 12  Region         9995 non-null   object
 13  Product ID     9995 non-null   object
 14  Category       9995 non-null   object
 15  Sub-Category   9995 non-null   object
 16  Product Name   9995 non-null   object
 17  Sales          9995 non-null   float64
 18  Quantity       9995 non-null   int64
 19  Discount       9985 non-null   float64
 20  Profit         9995 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [7]:
data.describe()

,Row ID,Order Date,Ship Date,Postal Code,Sales,Quantity,Discount,Profit
count,9995.000000,9995,9995,9995.000000,9995.000000,9995.000000,9985.000000,9995.000000
mean,4997.999900,2016-04-30 01:00:21.970985728,2016-05-04 00:00:17.288644096,55194.130565,229.859332,3.789395,0.156344,28.661328
min,1.000000,2014-01-03 00:00:00,2014-01-07 00:00:00,1040.000000,0.444000,1.000000,0.000000,-6599.978000
25%,2499.500000,2015-05-23 00:00:00,2015-05-27 00:00:00,23223.000000,17.280000,2.000000,0.000000,1.729500
50%,4998.000000,2016-06-26 00:00:00,2016-06-29 00:00:00,56560.000000,54.500000,3.000000,0.200000,8.671000
75%,7496.500000,2017-05-14 00:00:00,2017-05-18 00:00:00,90008.000000,209.955000,5.000000,0.200000,29.364000
max,9994.000000,2017-12-30 00:00:00,2018-01-05 00:00:00,99301.000000,22638.480000,14.000000,0.800000,8399.976000
std,2885.452131,NaN,NaN,32064.282332,623.213933,2.225070,0.206492,234.248806

In [8]:
data.shape

(9995, 21)

In [9]:
data.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code       0
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
Quantity          0
Discount         10
Profit            0
dtype: int64

In [11]:
data=data.fillna(0)

In [12]:
data.isnull().sum()

Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [13]:
data[data.duplicated()]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9994,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.16,2,0.0,72.948

In [14]:
data=data.drop_duplicates()

In [15]:
data[data.duplicated()]

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, Country, City, State, Postal Code, Region, Product ID, Category, Sub-Category, Product Name, Sales, Quantity, Discount, Profit]
Index: []

[0 rows x 21 columns]

In [16]:
data.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [17]:
print(data.dtypes)
for c in ['Sales','Profit','Quantity','Discount']:
    print(c, "unique types:", data[c].apply(type).unique()[:5])
# convert if necessary
data['Sales']  = pd.to_numeric(data['Sales'], errors='coerce')
data['Profit'] = pd.to_numeric(data['Profit'], errors='coerce')
data['Quantity'] = pd.to_numeric(data['Quantity'], errors='coerce', downcast='integer')
data['Discount'] = pd.to_numeric(data['Discount'], errors='coerce')

Row ID                    int64
Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object
Sales unique types: [<class 'float'>]
Profit unique types: [<class 'float'>]
Quantity unique types: [<class 'int'>]
Discount unique types: [<class 'float'>]

In [19]:
print("Total Sales:", data['Sales'].sum(), "Total Profit:", data['Profit'].sum())

Total Sales: 2297200.8603000003 Total Profit: 286397.0216999999

Standardize & correct (clean text, dates, codes)

In [21]:

data['Order Date'] = pd.to_datetime(data['Order Date'], errors='coerce')
data['Ship Date']  = pd.to_datetime(data['Ship Date'], errors='coerce')
data['Year'] = data['Order Date'].dt.year
data['Month'] = data['Order Date'].dt.month
data['MonthName'] = data['Order Date'].dt.strftime('%b')
data['YearMonth'] = data['Order Date'].dt.to_period('M').astype(str)  # "2020-03"
data['Quarter'] = data['Order Date'].dt.to_period('Q').astype(str)

Trim & normalize strings

Remove leading/trailing spaces; unify case (title case for cities).

In [22]:
text_cols = ['Customer Name','City','State','Region','Category','Sub-Category','Product Name']
for c in text_cols:
    data[c] = data[c].astype(str).str.strip()
data['City'] = data['City'].str.title()
data['State'] = data['State'].str.title()
data['Category'] = data['Category'].str.title()

post code

In [24]:
data['Postal Code'] = data['Postal Code'].astype(str).str.strip()

In [25]:
bad_discounts = data[(data['Discount'] < 0) | (data['Discount'] > 1)]
print("bad discounts:", bad_discounts.shape[0])

bad discounts: 0

In [27]:
neg_sales = data[data['Sales'] < 0]
neg_profit = data[data['Profit'] < 0]

In [29]:
print(data['Category'].unique())
print(data['Sub-Category'].unique())

['Furniture' 'Office Supplies' 'Technology']
['Bookcases' 'Chairs' 'Labels' 'Tables' 'Storage' 'Furnishings' 'Art'
 'Phones' 'Binders' 'Appliances' 'Paper' 'Accessories' 'Envelopes'
 'Fasteners' 'Supplies' 'Machines' 'Copiers']

Enrichment / Feature engineering

Days to ship

In [30]:
data['DaysToShip'] = (data['Ship Date'] - data['Order Date']).dt.days

Profit Margin

In [33]:
data['ProfitMargin'] = data['Profit'] / data['Sales']
data.loc[data['Sales']==0, 'ProfitMargin'] = 0

Order totals & Average Order Value (AOV)

In [34]:
data['OrderTotal'] = data.groupby('Order ID')['Sales'].transform('sum')
# If you need per-customer AOV:
cust_aov = data.groupby('Customer ID')['OrderTotal'].mean().reset_index().rename(columns={'OrderTotal':'AOV'})
data = data.merge(cust_aov, on='Customer ID', how='left')

Top N flags / ranks (for top products/customers)

In [35]:
product_sales = data.groupby('Product Name')['Sales'].sum().reset_index().sort_values('Sales',ascending=False)
product_sales['Rank'] = product_sales['Sales'].rank(method='dense', ascending=False)
# merge rank if needed
data = data.merge(product_sales[['Product Name','Rank']], on='Product Name', how='left')

In [36]:
data['ProfitPerUnit'] = data['Profit'] / data['Quantity'].replace(0, pd.NA)
# Avg deal size per order:
data['AvgDealSize'] = data.groupby('Order ID')['Sales'].transform('mean')

In [37]:
monthly = data.groupby(['Region','YearMonth'])['Sales'].sum().reset_index()
avg_monthly = monthly.groupby('Region')['Sales'].mean().reset_index().rename(columns={'Sales':'AvgMonthlySales'})
avg_monthly['MonthlyTarget'] = avg_monthly['AvgMonthlySales'] * 1.10   # 10% uplift target
# merge back (if you want a per-row target)
data = data.merge(avg_monthly[['Region','MonthlyTarget']], on='Region', how='left')

In [38]:
assumed_cr = 0.20
data['EstimatedPipelineNeeded'] = data['Sales'] / assumed_cr

Outliers, anomalies & final data quality checks

In [39]:
# Sales outliers
Q1 = data['Sales'].quantile(0.25)
Q3 = data['Sales'].quantile(0.75)
IQR = Q3 - Q1
outliers = data[(data['Sales'] < (Q1 - 1.5*IQR)) | (data['Sales'] > (Q3 + 1.5*IQR))]
len(outliers)
# decide: keep (document), remove, or cap

1167

In [44]:
data.to_csv('superstore_clean_v1.csv', index=False)
files.download("superstore_clean_v1.csv")